reports
dist
target
bin
bin.timestamp
deploy/*.jar
logs
.project
.settings
.classpath
.scala_dependencies
.metadata
*.class
.manager
target/
lib_managed/
src_managed/
project/boot/
tags
.ensime
.ensime*/
project/.ensime
ensime_port
.idea*/
.history
.cache
.DS_Store
*.sc
*.swp
*.py
.#*
projectFilesBackup*/
dockercfg
Vagrant
buildinfo.properties
native/
## local overrides
.envrc
sql/
data/
playbook/
.terraform/
stringer_build/
stream_reader
