target/
project/target
project/metals.sbt
project/project
*.log
*.pid
##
## emacs
##
**/#*
.projectile
*.swp
.history
.cache
native/
.envrc
GPATH
GRTAGS
GTAGS
.tags
.classpath
.settings
.idea
.metals
.bloop
